<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [1]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

name is defined as batman

therefore, if name is defined as batman = say hello batman

otherwise if name is defined as robin = say hello sidekick

otherwise if none of those are true = say hello world

# 2 Asking questions

In [2]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [4]:
'apple' in fruits #asking python if apple is in the list of fruits listed

True

In [5]:
'peach' in fruits #asking python if peach is in the list of fruits listed

False

In [6]:
'peach' not in fruits #asking python if peach is not in the list of fruits listed

True

In [8]:
('apple' in fruits) and ('celery' in vegetables)

#asking python if apple is in list of fruits listed 
#asking python if celery is in l;st of vegetables listed
#both have to be true for the answer to be 'TRUE'

True

# 3 Remember

In [9]:
#'not' 'in' 'and' 'or' are python keywords that can be used to ask questions

In [11]:
# python can compare similar things e.g., numbers or english
'apple' > 'oranges' 
#in the code each letter has a number; since a is before o, the answer is false

False

## 3.1 Asking Math questions

Acceptable notations

x > 5 and x < 15

(x > 5) and (x < 15)

5 < x < 15

# 4 Python stores information in different formats or types

In [14]:
#storing as integer (int)

x = int(1.234)
print(x, type (x))

1 <class 'int'>

In [15]:
#storing as word (str)

x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

In [17]:
#storing as decimal number (float)

x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [18]:
#storing as complex number (complex)

x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

In [19]:
x = '1.234' #x is a string
print(x, type(x))

1.234 <class 'str'>

In [20]:
x = float(x) #x is now a decimal number; since it has been redefined with 'float'
print(x, type(x))

1.234 <class 'float'>

# 5 Never compare floats directly

## 5.1 The Problem

In [21]:
a = 0.1
a3 = 0.3
a*3 ==a3

False

In [24]:
f'{0.3:.17f}'

'0.29999999999999999'

## 5.2 A solution

In [25]:
import math

In [27]:
import numpy

In [28]:
eps = 1E-10
abs(a*3-a3)<eps

True

In [30]:
numpy.isclose(a*3,a3)

True

# 6 Combining English and variables

In [31]:
#example 1
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [32]:
#example 2
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [33]:
#example 3
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

use of f-strings "f{}" allows adding of variables into a string

In [35]:
#example 1
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [36]:
#example 2
print(f'{text:>30}') 

#use of > is to align the text to the right by 30 characters

        Bruce Wayne is Batman.

In [37]:
#example 2
print(f'{text:<30}') 

#use of < is to align the text to the left by 30 characters

Bruce Wayne is Batman.

In [38]:
#example 2
print(f'{text:^30}') 

#use of ^ is to align the text to the centre by 30 characters -> 15 each side

    Bruce Wayne is Batman.

In [41]:
print(f'The cube of pi to 6 decimal places is {numpy.pi**3:.6f}')

#use of .6f is to tell the output to give an answer to 6 decimal place

The cube of pi to 6 decimal places is 31.006277

In [43]:
print(f'The cube of pi to 6 decimal places is {numpy.pi**3:.6e}')

#use of .6e is to the output to give an answer in scientific notation to 6dp

The cube of pi to 6 decimal places is 3.100628e+01

## 6.1 Structure of f-strings

structure of f-strings: f{X:>0Y.ZW}

|**Letter**|**Action**|**Possible Options**|
|:---|:---:|:----|
|x|variable to format|can be a number or a string|
|>|Alignment|- < (left)|
| | |- > (right)|
| | | - ^ (centre)|
|0|Use 0's to pad the spaces|You can use other characters like a space.|
|Y|Total number of characters| |
|Z|Number of decimal places| |
|W|Specifies the type of variable| - f (float)|
| | |- d (integer)|
| | |- s (string)|
| | |- g (asks python to figure out)|

# 7 Escape sequences

In [49]:
print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

In [54]:
#testing new features!
print('Line 1\nHELLO\tHELLOOOOO')

Line 1
HELLO	HELLOOOOO

|**Escape sequence**|**Meaning**|
|:--:|:--:|
|\\|Single quote|
|\\\\|Backslash|
|\n|Newline|
|\t|Horizontal tab|

In [56]:
print("You're twenty years old") #have to use "" since You're has '

You're twenty years old

In [60]:
print('Your\'re twenty years old')

Your're twenty years old

In [62]:
#To print \ there is a need to escape it, aka need to type \\

print('A\\B\\C')

A\B\C

In [63]:
#To create new lines for each variable

print('A\nB\nC')

A
B
C

In [64]:
#To create tabs between each variable

print('A\tB\tC')

A	B	C

# 8 Computers read = from Right to Left!

In [68]:
x = 40
y = x + 2
print(y)

42

In [67]:
#works in programming but not in maths -> mathematically wrong
y = 40
y = y + 2
print(y)

42

# 9 Shorter and Cleaner Code

In [69]:
y = 40
y = y + 2
y

42

In [70]:
y = 40
y += 2    # Same as y = y + 2
y

42

| |**Long form**|**Shorthand**|
|:--|:--:|:--:|
|Addition|y=y+2|y+=2|
|Subtraction|y=y-2|y-=2|
|Multiplication|y=y*2|y*=2|
|Division|y=y/2|y/=2|

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

## References

## Footnotes