<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

**Exercise 1 (Celcius to Farenheit)**

In [12]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [16]:
for celsius in temperatures_celsius:
    farenheit = (celsius * 9/5 + 32)
    print(f'{celsius} celsius is {farenheit} farenheit')

0 celsius is 32.0 farenheit
5 celsius is 41.0 farenheit
10 celsius is 50.0 farenheit
15 celsius is 59.0 farenheit
20 celsius is 68.0 farenheit
25 celsius is 77.0 farenheit
30 celsius is 86.0 farenheit
35 celsius is 95.0 farenheit
40 celsius is 104.0 farenheit
45 celsius is 113.0 farenheit
50 celsius is 122.0 farenheit

**Exercise 2 (Multiplication table)**

In [18]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [2]:
for base in ['1', '2', '3', '4', '5']:
    base = int(base)                          # convert the element from string to integers
    for multiples in [1, 2, 3, 4, 5]:
        multiples = int(multiples)
        print(f'{base}*{multiples}', end='\t')
    print('\n')

1*1	1*2	1*3	1*4	1*5

2*1	2*2	2*3	2*4	2*5

3*1	3*2	3*3	3*4	3*5

4*1	4*2	4*3	4*4	4*5

5*1	5*2	5*3	5*4	5*5

In [37]:
for base in ['1', '2', '3', '4', '5']:
    base = int(base)
    for multiples in [1, 2, 3, 4, 5]:
        multiples = int(multiples)
        solution = (base * multiples)
        print(f'{solution}', end='\t')
    print('\n')

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

In [4]:
for count, base in enumerate(['1', '2', '3', '4', '5'], 1):
    base = int(base)
    for multiples in [1, 2, 3, 4, 5]:
        multiples = int(multiples)
        solution = (base * multiples)
        print(f'{count}:{solution}', end='\t')
    print('\n')

1:1	1:2	1:3	1:4	1:5

2:2	2:4	2:6	2:8	2:10

3:3	3:6	3:9	3:12	3:15

4:4	4:8	4:12	4:16	4:20

5:5	5:10	5:15	5:20	5:25

In [7]:
for count, base in enumerate(['1', '2', '3', '4', '5'], 1):
    base = int(base)
    print(f'{count}:')
    for multiples in [1, 2, 3, 4, 5]:
        multiples = int(multiples)
        solution = (base * multiples)
        print(f'{solution}', end='\t')
    print('\n')

1:
1	2	3	4	5

2:
2	4	6	8	10

3:
3	6	9	12	15

4:
4	8	12	16	20

5:
5	10	15	20	25

In [9]:
for count, base in enumerate(['1', '2', '3', '4', '5'], 1):
    base = int(base)
    print(f'{count}:', end='') # To ensure the output is on the same line
    for multiples in [1, 2, 3, 4, 5]:
        multiples = int(multiples)
        solution = (base * multiples)
        print(f'{solution}', end='\t')
    print('\n')

1:1	2	3	4	5

2:2	4	6	8	10

3:3	6	9	12	15

4:4	8	12	16	20

5:5	10	15	20	25